.introduction {
    img {
        max-width: 150px;
    }
    // .introduction__title
    &__title {
        color: red;
    }
    // .introduction__text
    &__text {}
    // .introduction__text-first
    &__text-first {
        background-color: blue;
        color: #fff;
        max-width: 100px;
        // line-height: 1;
        margin-bottom: 70px;
    }
    // .introduction__text-second
    &__text-second {
        span {
            color: red;
        }
    }
}

.further {
    // .further__title
    &__title {}
    // .further__text
    &__text {}
    // .further__text-link
    &__text-link {}
}

.skills {
    // .skills__title
    &__title {
        padding: 30px 0px 30px 20px;
    }
    // .skills__text
    &__text {
        margin-left: 80px;
    }
    // .skills__form
    &__form {}
    // .skills__form-btn
    &__form-btn {}
    // .skills__list
    &__list {
        li {
            border: 1px solid #000;
        }
    }
    // .skills__list-text
    &__list-text {}
}

.end {
    // .end__title
    &__title {}
    // .end__link
    &__link {}
}

.title {
    color: #fff;
    background-color: green;
}